@import '../../../styles/variables.scss';

.welcomeSection {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 700px;

  background-color: #171718;
  
  .background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 630px;
    height: 630px;
    
    background-image: url('/images/Abstract.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    z-index: 1;
  }
  
  .text {
    font-weight: 700;
    line-height: 7rem;
    letter-spacing: -0.5px;
    text-align: center;
    color: #FAFAFA;
    z-index: 2;
    
    &1 {
      font-size: 7.5rem;

      span {
        color: $purple;
      }
    }

    &2 {
      font-size: 5rem;
    }

    &3 {
      font-size: 2.2rem;
      font-weight: 500;
      line-height: 3rem;
      letter-spacing: 0.5px;

      margin-top: 20px;
    }
  }

  .buttons {
    display: flex;
    gap: 2rem;
    margin-top: 5rem;
    z-index: 2;

    .github::before {
      content: '';
      display: block;
      width: 3rem;
      height: 3rem;

      background: url('/images/github.svg');
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: contain;
    }
  }
}


@media (max-width: 767px) {
  .welcomeSection {
    gap: 2rem;
    padding: 0 2rem;

    .background {
      width: 400px;
      height: 400px;
    }

    .text {
      &1 {
        font-size: 6.5rem
      }

      &2 {
        font-size: 4.5rem;
        line-height: 5rem;
      }

      &3 {
        font-size: 1.8rem;

        margin-top: 0;
      }
    }

    .buttons {
      flex-direction: column;
      margin-top: 0;
    }
  }
}