@import '../../styles/variables.scss';

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 3.5rem;

  font-size: 2rem;
  font-weight: 500;
  line-height: 3rem;
  letter-spacing: 0.15px;
  color: #FFFFFF;
  background: $purple;
  border-radius: 5px;
  transition: opacity 0.2s ease-in-out;
  
  &:hover {
    opacity: 0.8;

    span {
      color: #ffffff;
    }
  }
}