@import '../../styles/variables.scss';

.section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 70px 0;
}

@media (max-width: 1200px) {
  .section {
    max-width: 767px;
  }
}

@media (max-width: 767px) {
  .section {
    max-width: 100%;
  }
}